extends ./layout.jade
block header
    title= title
    link(href='/stylesheets/fullcalendar.css', rel='stylesheet')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/moment.js')
    script(src='/javascripts/fullcalendar.js')
    script(src='https://unpkg.com/popper.js/dist/umd/popper.min.js')
    script(src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js')
    script.
      document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
      defaultDate: moment().format('YYYY-MM-DD'),
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      eventRender: function(info) {
        var tooltip = new Tooltip(info.el, {
          title: info.event.extendedProps.description,
          placement: 'top',
          trigger: 'hover',
          container: 'body'
        })
      },
      events: JSON.parse("!{JSON.stringify(events).replace(/([\\'"])/g, '\\$1')}")
      });
      calendar.render();
      });
   
  append crumbs
     +crumb("calendar","Calendar")
  block content
     div.uk-flex-center
      h1= title
      #calendar
      ul
        for event in events
          li= event.title + ': ' + event.start + ' - ' + event.end

