doctype html
html
  head
    title= title
    link(href='/stylesheets/fullcalendar.css', rel='stylesheet')
    link(href='/stylesheets/fullcalendar.print.css', rel='stylesheet', media='print')
    script(src='/javascripts/moment.js')
    script(src='/javascripts/fullcalendar.js')
    script.
      document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
      defaultDate: moment().format('YYYY-MM-DD'),
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: JSON.parse("!{JSON.stringify(events).replace(/([\\'"])/g, '\\$1')}")
      });
      calendar.render();
      });
    style.
      body {
      margin: 40px 10px;
      padding: 0;
      font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
      font-size: 14px;
      }
      #calendar {
      max-width: 900px;
      margin: 0 auto;
      }

  block content
    h1= title
    p Test Page
    #calendar
    ul
      for event in events
        li= event.title
    form(method='post', action='/addevent')
      .form-group
        label Event Title
        input.form-control(type='text', name='eventtitle', placeholder='Event Title')
      .form-group
        label Event Start
        input.form-control(type='text', name='eventstart', placeholder='Event Start YYYY-MM-DD')
      .form-group
        label Event End
        input.form-control(type='text', name='eventend', placeholder='Event End YYYY-MM-DD (optional)')
      .form-group
        label Event URL
        input.form-control(type='text', name='eventurl', placeholder='Event URL (optional)')
      button.btn.btn-default(type='submit') Submit

