//- header.jade
head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/uikit/css/uikit.min.css')
    link(rel='javascript', href='/uikit/js/uikit.min.js')
    link(rel='javascript', href='/uikit/js/uikit-icons.min.js')