nav.uk-navbar-container(uk-navbar='')
  .uk-navbar-left.uk-navbar-subtitle(uk-navbar='mode: click')
    ul.uk-navbar-nav
      li.uk-parent
        a(href='/') home
      li.uk-parent
        a(href='/post') post events
  .uk-navbar-right.uk-navbar-subtitle(uk-navbar='mode: click')
    ul.uk-navbar-nav
      li.uk-parent
        a(href='#') account login / register
        .uk-navbar-dropdown
          ul.uk-nav.uk-navbar-dropdown-nav
            li
              a(href='/users/login') Login
            li
              a(href='/users/register') Register
