nav(class='uk-navbar-container')
	div(class="uk-navbar-left" uk-navbar="mode: click")
		ul(class='uk-navbar-nav')
			li(class='uk-parent')
				a(href='/') home
			li(class='uk-parent')
				a(href='/angular') angular
				li(class='uk-parent')
					a(href='#') events  
					div(class="uk-navbar-dropdown")
						ul(class="uk-nav uk-navbar-dropdown-nav")
							li
								a(href="/Calendar") Calendar
							li
								a(href="/events") All Events 